<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sections</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="body">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3688ae">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" style="font-weight: bolder" href="/sections">Sections</a>
            </li>
          </ul>
          <% if (user) { %>
          <div class="dropdown mx-4">
            <div class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img
                style="vertical-align: middle; width: 30px; height: 30px; border-radius: 50%"
                src="/images/avatar.png"
                alt="Avatar"
                class="avatar"
              />&ensp;<%= user?.username %>
            </div>
            <ul class="dropdown-menu" style="top: 120%; left: -30%; font-size: small">
              <li>
                <a class="dropdown-item" href="/members/logout"><i class="bi bi-box-arrow-left">&ensp;</i>Logout</a>
              </li>
            </ul>
          </div>
          <% } else { %>
          <a href="/members/login" class="btn btn-success"> Login</a>
          <% } %>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="card mt-2">
        <div class="card-header" style="background-color: #cfcfcf">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6" style="text-align: center">
              <h4 style="color: #0e6fc9; font-weight: bold; margin: auto">List</h4>
            </div>
            <div class="col-3" style="text-align: right">
              <button
                data-bs-toggle="modal"
                data-bs-target="#modal_add"
                class="btn btn-primary btn-sm"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Add new section"
              >
                <i class="bi bi-plus-lg"></i>
                Add new
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">sectionName</th>
                <th scope="col">sectionDescription</th>
                <th scope="col">duration</th>
                <th scope="col">isMainTask</th>
                <th scope="col">course</th>
                <th style="text-align: center" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if(sectionsData?.length > 0){ sectionsData?.map((section,index)=>{ %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= section.sectionName??"" %></td>
                <td><%= section.sectionDescription??"" %></td>
                <td><%= section.duration??"" %></td>
                <td><%= section.isMainTask ? "Yes":"No" %></td>
                <td><%= section.course?.courseName??"" %></td>
                <td style="text-align: center">
                  <form
                    method="POST"
                    action="/sections/<%= section._id %>?_method=DELETE"
                    onsubmit="return showModalDelete(event, '<%= section.sectionName %>');"
                  >
                    <button style="all: unset" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete" type="submit">
                      <i class="bi bi-trash-fill" style="color: red"> &ensp; </i>
                    </button>

                    <a data-bs-toggle="tooltip" data-bs-placement="right" title="Deteil" href="/sections/<%= section._id %>"
                      ><i class="bi bi-pencil-fill" style="color: rgb(3, 110, 75)"></i
                    ></a>
                  </form>
                </td>
              </tr>
              <% })}else{ %>
              <tfoot><td colspan="6" style="text-align: center"><i class="bi bi-file-earmark-excel-fill"></i>No data</td></tfoot>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  
    <!-- Modal Delete -->
    <div class="modal" style="background-color: rgba(0, 0, 0, 0.5)" id="confirmModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Deleted data cannot be recovered !</h4>
            <button type="button" class="btn-close" id="confirmClose" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <div id="confirmText"></div>
          </div>

          <div class="modal-footer">
            <button data-bs-dismiss="modal" type="button" id="confirmCancel" class="btn btn-outline-dark">Cancel</button>
            <button type="submit" id="confirmOk" class="btn btn-outline-danger">Delete</button>
            <!-- data-bs-dismiss="modal" :to close -->
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Delete -->

    <!-- Modal add -->
    <div class="modal" id="modal_add">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add new section</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <form method="POST">
            <div class="modal-body">
              <div class="row g-4">
                <div class="col-6">
                  <div class="">
                    <label for="sectionName" class="form-label">section name:</label>
                    <input
                      required
                      pattern="^[a-zA-Z0-9\s]{1,50}$"
                      maxlength="30"
                      title="sectionName must begin with a capital letter and can only include a-z, A-Z, /, space, and digits 0-9."
                      type="text"
                      name="sectionName"
                      class="form-control"
                      id="sectionName"
                      placeholder="Enter section name"
                    />
                  </div>
                </div>

                <div class="col-6">
                  <div class="">
                    <label for="duration" class="form-label">duration:</label>
                    <input
                      required
                      pattern="^\d*$"
                      title="Chỉ nhập số!"
                      type="text"
                      name="duration"
                      class="form-control"
                      id="duration"
                      placeholder="Enter section duration"
                    />
                  </div>
                </div>

                <div class="col-12">
                  <div class="">
                    <label for="sectionDescription" class="form-label">sectionDescription:</label>
                    <input
                      required
                      type="text"
                      name="sectionDescription"
                      class="form-control"
                      id="sectionDescription"
                      placeholder="Enter sectionDescription"
                    />
                  </div>
                </div>

                <div class="col-12">
                  <div class="">
                    <label for="course" class="form-label">Course:</label>
                    <select class="form-select" name="course">
                      <% coursesData?.length > 0 &&coursesData?.map((course,index)=>{ %>
                      <option value="<%= course?._id %>"><%= course?.courseName %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>

                <!-- <div class="col-6">
                  <div class="form-check">
                    <input type="checkbox" name="isNatural" class="form-check-input" id="isNatural" />
                    <label class="form-check-label" for="isNatural">Is Natural</label>
                  </div>
                </div> -->
                <div class="col-6">
                  <div class="form-check form-switch">
                    <label class="form-check-label" for="isMainTaskSwitch">Is Main task:</label>
                    <input
                      id="isMainTaskSwitch"
                      onchange="handleIsMainTask()"
                      class="form-check-input"
                      name="isMainTask"
                      type="checkbox"
                      role="switch"
                    />
                    <span id="isMainTaskStatus">No</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Create</button>
              <!-- data-bs-dismiss="modal" :to close -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal add -->

    <!-- noti -->
    <div id="noti">
      <% if(success_msg != ''){ %>
      <div class="notification" style="background-color: rgb(58 160 255 / 55%)"><%= success_msg %></div>
      <% } %> <% if(error_msg != ''){ %>
      <div class="notification" style="background-color: rgba(255, 0, 0, 0.555)"><%= error_msg %></div>
      <% } %> <% if(error != ''){ %>
      <div class="notification" style="background-color: rgb(255, 0, 0)"><%= error %></div>
      <% } %>
    </div>
    <!-- noti -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const noti = document.getElementById("noti");
        setTimeout(() => {
          noti.remove();
        }, 3000);
      });
      function handleIsMainTask() {
        var checkbox = document.getElementById("isMainTaskSwitch");
        var statusElement = document.getElementById("isMainTaskStatus");

        if (checkbox.checked) {
          statusElement.textContent = "Yes";
        } else {
          statusElement.textContent = "No";
        }
      }
      const showModalDelete = (event, sectionName) => {
        event.preventDefault();
        var form = event.target;
        var confirmText = document.getElementById("confirmText");
        confirmText.textContent = `Do you want to delete "${sectionName}" ?`;

        var confirmOk = document.getElementById("confirmOk");
        confirmOk.addEventListener("click", function () {
          form.submit();
        });

        var confirmCancel = document.getElementById("confirmCancel");
        confirmCancel.addEventListener("click", function () {
          document.getElementById("confirmModal").style.display = "none";
        });
        var confirmClose = document.getElementById("confirmClose");
        confirmClose.addEventListener("click", function () {
          document.getElementById("confirmModal").style.display = "none";
        });

        document.getElementById("confirmModal").style.display = "block";
      };
    </script>
  </body>
</html>
